body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
}

.articles__author {
    color: darkgray;
}

.articles__title {
    font-size: 30px;

}

.articles__desc {
    color: #2d3129;
}

.contactBorder {
border-bottom: 2px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45%;
}

.contact {
    margin-top: 10px;
}

.phone {
    margin-left: 50%;
}

.image {
  width: 20px;
    height: 20px;
    margin-right: 10px;
    text-align: right;
}